body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.layout {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 300px 600px;
    gap: 5px
}

.layout > * {
    border-style: solid;
    border-width: 1px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}