body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

.layout {
    display: grid;
    grid-template-rows: 80px 800px;
    grid-template-columns: 1fr 2fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    font-weight: bold;
    background-color: rgb(125, 60, 250);
    align-content: center;
}

.sidebar{
    background-color: rgb(250, 250, 250);
    padding: 10px;
}